@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
* {
    box-sizing: border-box;
  }
.content{
    display: flex;
    flex-wrap: wrap;
    border: 8px solid yellow;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    font-family: 'Patrick Hand', cursive;
    /*space-around;*/
}
nav{ 
    font-family: 'Vibur', cursive;
    font-size: 40%;
    align-items: center;
    display: flex;
    justify-content: space-around;
  background-color: rgb(194, 228, 241);

}

#buttonGoogle{
    font-size: 25px;
    font-weight: 100;
}

#formLogin,
#formSignUp {
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	font-size: 1.6em;
	margin: auto 20%;
}
.contForm {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 10px;
    width: 35vw;
    font-size: 30px;
    color: black;
    padding: 0;
    background-color: rgb(156, 240, 116)

}
.form-input {
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border: 2px solid black;
    height:35px ;
    border-radius: 11px;    
}
#input-text{
    height: 65px;
   padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.user-name {
    font-size:25px;
}

h1 {
    font-size: 15px;
}
.time-line{

        background-color: aquamarine;
        
        text-align: left;
        line-height: 40px;
        font-size: 30px;
}
.tarjeta{
    font-family: 'IBM Plex Serif', serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top: 30px;
    border: 2px solid rgb(164, 150, 245);
    border-radius: 5px;
    width: 23vw;
 
}