* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
background: linear-gradient(to top, #a8edea 0%, #b6f88a 100%);
background-attachment: fixed;
  background-repeat: no-repeat;
opacity: .95;
display: flex;
justify-content: flex-end;
align-items: center;
}

nav{ 
    font-family: 'Vibur', cursive;
    font-family: 'calibri', serif;
    font-size: 30%;
    font-size: 1.5rem;
}

#buttonGoogle{
    font-size: 25px;
    font-weight: 100;
}

.log-in{
    size: 0ex;
    position: center;
  top: 80px;
  left: 10px;
  background: rgb(130, 188, 226);
}
#formLogin,
#formSignUp {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	font-size: 1.6em;
	margin: auto 20%;
}
.contForm {
    
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 10px;
    width: 45vw;
    max-width: 350px;
  
    font-size: 30px;
    color: black;
    padding: 0;

}
.form-input {
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border: 2px solid black;
    height:35px ;
    border-radius: 5px;    
}
#input-text{
    height: 65px;
   padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 

}
.user-name {
    font-size:25px;
}

h1 {
    font-size: 15px;
}
.tarjeta{
     
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top: 40px;
    border: 2px solid rgb(164, 150, 245);
    border-radius: 5px;
    width: 45vw;
    max-width: 350px;
}